.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
  padding: 10px 70px 0px 70px;
  gap: 10px;

  .left {
    // width: 356px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 356px;
    h1 {
      color: #0d2114;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 20px;
      .keto {
        width: 140px;
        height: 77px;
        color: #fff;
        background: #50c878;
        box-shadow: 0px 9px #96ab9b;
        // box-shadow: 0px 5px 10px #abbbae;
        // filter: drop-shadow(0px 5px 10px rgba(255, 0, 0, 0.5)), 
        // drop-shadow(0px 5px 10px rgba(0, 255, 0, 0.5)), drop-shadow(0px 5px 10px rgba(0, 0, 255, 0.5));
        // background: #000;
        
      
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        position: relative;
      }
    }
    p {
      color: #0d2114;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .homepage-btn {
      width: 180px;
      // max-width: 333px;
      height: 50px;
      border-radius: 15px;
      border: none;
      color: #fff;
      background: #50c878;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 2.6rem;
      &:hover {
        background: #e4ede7;
        border: 1px solid #50c878;
        color: #000;
      }
    }
    .circles {
      display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   gap: 10px;

      .homepage {
        margin-right: 20px;
      }
      .images {
        display: flex;
        justify-content: center;
        align-items: center;
        .img1 {
          position: relative;
          border: 3px solid #fff;
          border-radius: 50%;
          transform: translateX(-24px);
        }
        .img2 {
          position: relative;
          border: 3px solid #fff;
          border-radius: 50%;
          transform: translateX(-55px);
        }
      }
      .homepara {
        color: #0d2114;
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;
        right: 36px;
        margin-top: 20px;
        // margin-inline: auto;
      }
    }
  }
  .right {
    .rightimages {
      display: flex;
      column-gap: 10px;
      // flex-direction: column;
      .leftside {
        display: flex;
        column-gap: 13px;
        position: relative;
        left: 33px;
        img {
          height: 90%;
        }
      }
      .rightside {
        .dflex {
          img {
            height: 210px;
          }
        }
      }
    }
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .homepage {
    margin: 20px 0 0 0;

    .right {
      .rightimages {
        .leftside {
          .first-img {
            // width: 170px;
          }
        }
        .rightside {
          .dflex {
            flex-direction: row;
            margin-top: 18px;
            gap: 12px;
            img {
              width: 165px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
    .left {
      gap: 10px;
      width: 80%;
      margin-inline: auto;

      h1 {
        font-size: 56px;
        .keto {
          width: 120px;
          height: max-content;
        }
      }

      .homepage-btn {
        width: 80%;
        margin-inline: auto;
      }
      .circles {
        // gap: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        // align-items: baseline;

        .images {
          .img1,
          .img2 {
            position: relative;
            transform: translateX(0);
          }
        }
        .homepara {
          color: #0d2114;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          position: relative;
          right: 0;
        }
      }
    }
    .right {
      .rightimages {
        flex-direction: column;
        .leftside {
          column-gap: 10px;
          justify-content: center;
          position: relative;
        left: 0px;
          // .thirdimg{
          //     display: none;
          // }
        }
        .rightside {
          .dflex {
            margin-top: 20px;
            justify-content: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .homepage {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
    .left {
      gap: 10px;
      text-align: center;
      width: 80%;
      margin-inline: auto;

      h1 {
        font-size: 56px;
        font-size: 41px;
        .keto {
          width: 120px;
          height: max-content;
        }
      }

      .homepage-btn {
        margin: 0 auto;
        width: 80%;
        margin-inline: auto;
      }
      .circles {
        // gap: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        // align-items: center;
        text-align: center;

        .images {
          .img1,
          .img2 {
            position: relative;
            transform: translateX(0);
          }
        }
        .homepara {
          color: #0d2114;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          position: relative;
          right: 0;
        }
      }
    }
    .right {
      .rightimages {
        flex-direction: column;
        flex-wrap: wrap;
        .leftside {
          column-gap: 10px;
          justify-content: center;
          // .thirdimg{
          //     display: none;
          // }
        }
        .rightside {
          .dflex {
            margin-top: 20px;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
            justify-content: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .thirdimg {
    display: none;
  }
}
