#product {
  background: #f0f7f2;
  // height: 128vh;
  padding-bottom: 80px;
  margin-top: 2rem;

  .product-head {
    h1 {
        margin: 40px 0 30px 0;
      color: #0d2114;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 32px;
      padding-bottom: 6px;
  
    }
  }

  .product-container {
    display: flex;
    justify-content: center;
    //    align-items: center;
    gap: 80px;

    // .product-left {
    // }
    .product-right {
        display: flex;
    flex-direction: column;
    gap: 47px;
      .product-flex {
        display: flex;
        align-items: center;
        gap: 20px;
        // position: relative;
        h4 {
          color: #0d2114;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        p {
          color: #0d2114;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}


@media screen and (max-width: 768px){
    #product{
        .product-head{
            h1{
                font-size: 28px;
            }
        }
        .product-container{
            flex-direction: column;
            align-items: center;
            gap: 40px;
        
        .product-right{
            gap: 8px;
            .product-flex{
                align-items: first baseline;
            }
        }
    }
    }
}
