.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px 0px 60px;


}

.menu-btn {
  color: #000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.btn {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  border: none;
  margin: 5px;
  transition: all 0.4s ease-in;
}
.btn1 {
  background: #e4ede7;
  /* border: 1px solid #50c878; */
  font-weight: 500;
  color: #50c878;
}
.btn1:hover {
  border: 1px solid #50c878;
  color: #50c878;
}

.btn2 {
  background-color: #50c878;
  color: #fff;
}
.btn2:hover {
  /* background: #E4EDE7; */
  border: 1px solid #50c878;
  color: #50c878;

}
.nav-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Responsive styles */

.menu-btn {
  cursor: pointer;
  display: none;
  font-size: 30px;
}

.menu-btn-burger {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .navbar{
    padding: 16px 39px 0px 26px;
height: 10vh;
  }
  ul{
	padding-left: 0;
  }
  ul{
	margin-top: 8px;
  }

  .btn{
	width: 42%;
  /* margin-top: 12px; */
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    /* background-color: #E4EDE7; */
  }

  .nav-list.open {
    display: flex;

  }

  .nav-item {
    margin: 10px 0;
  }

  .menu-btn.open .menu-btn-burger:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-btn.open .menu-btn-burger:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.open .menu-btn-burger:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
